In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from jupyterthemes import jtplot
from sklearn.metrics import auc, roc_curve, roc_auc_score
%matplotlib inline
jtplot.style()

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
Id = test['Id']
y_train = train['SalePrice']

In [4]:
y_train.shape

(1460,)

In [5]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

Убираем столбцы где много пропусков

In [7]:
Xtrain = train.drop(["Alley", "FireplaceQu", "Id" ,"PoolQC", "Fence", "MiscFeature", "SalePrice"], axis=1)
Xtest = test.drop(["Alley", "FireplaceQu", "Id" ,"PoolQC", "Fence", "MiscFeature"], axis=1)
Xtrain['is_test'] = False
Xtest['is_test'] = True
X = pd.concat([Xtrain, Xtest], axis=0)
X.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 75 columns):
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2838 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
GarageType       2762 non-null object
GarageYrBlt      2760 non-null float64
GarageFinish     2760 non-null object
GarageCars       2918 non-null float64
GarageArea       2918 non-null float64
GarageQual       2760 non-null object
GarageCond       2760 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2918 non-null object
SaleCondition    2919 non-null object
is_test          2919 non-null bool
dtypes: bool(1), float64(11), int64(25), object(38)
memory usage: 1.7+ MB

In [8]:
All_int_type_colum=(X.select_dtypes(include=['int64']).columns)
All_float_type_colum=(X.select_dtypes(include=['float']).columns)
All_obj_type_colum=(X.select_dtypes(include=['object']).columns)

Пустые чиловые данные заполняем медианами

In [9]:
for i in All_int_type_colum:
     X[i].fillna(X[i].median(), inplace=True)
for i in All_float_type_colum:
     X[i].fillna(X[i].median(), inplace=True)

In [10]:
X.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,is_test
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,False
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,False
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,False
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,False
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,False

In [11]:

X = pd.get_dummies(X, columns=All_obj_type_colum)

In [12]:
Xtrain_prep = X[X.is_test==False].drop(['is_test'], axis=1)
Xtest_prep = X[X.is_test==True].drop(['is_test'], axis=1)

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
clf_rf = RandomForestRegressor(n_estimators=10, max_depth=5, min_samples_leaf=20, max_features=0.5, n_jobs=-1)
clf_rf.fit(Xtrain_prep, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
                      max_features=0.5, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=20, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                      oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [15]:
y_pred=clf_rf.predict(Xtest_prep)
y_pred

array([128234.42041183, 145450.61501693, 178278.43102973, ...,
       146778.23245398, 126229.3021475 , 236297.83088794])

In [16]:
Xtrain_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Columns: 270 entries, MSSubClass to SaleCondition_Partial
dtypes: float64(11), int64(25), uint8(234)
memory usage: 755.7 KB

In [17]:
imp = pd.Series(clf_rf.feature_importances_)
imp.sort_values(ascending=False)[:10]

3      0.426207
15     0.165066
11     0.078018
25     0.056420
5      0.056062
168    0.045893
180    0.038363
12     0.024354
165    0.017233
2      0.016480
dtype: float64

In [19]:
from sklearn.metrics import r2_score
from rfpimp import permutation_importances

def r2(clf_rf, Xtrain_prep, y_train):
    return r2_score(y_train, clf_rf.predict(Xtrain_prep))

perm_imp_rfpimp = permutation_importances(clf_rf, Xtrain_prep, y_train, r2)

In [20]:
perm_imp_rfpimp[:12]

              Importance
Feature
OverallQual     0.328900
GrLivArea       0.122119
TotalBsmtSF     0.030166
1stFlrSF        0.015000
YearBuilt       0.014917
LotArea         0.012249
BsmtQual_Ex     0.012185
GarageCars      0.010815
BsmtFinSF1      0.008879
GarageArea      0.008159
TotRmsAbvGrd    0.006830
Fireplaces      0.004411

In [21]:
r2_score(y_train, clf_rf.predict(Xtrain_prep))

0.8411784319758853

In [22]:
y_train.shape

(1460,)

In [23]:
Xtrain_prep.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,1,0,0,0,0,1,0

Берем весомые признаки

In [24]:
need_col=['OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', '1stFlrSF', 'BsmtFinSF1', '2ndFlrSF', 'FullBath', 'is_test']

In [25]:
Xtrain_prep['is_test'] = False
Xtest_prep['is_test'] = True
X = pd.concat([Xtrain_prep, Xtest_prep], axis=0)

In [26]:
X.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,is_test
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,1,0,0,0,0,1,0,False
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,1,0,0,0,0,1,0,False
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,1,0,0,0,0,1,0,False
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,1,1,0,0,0,0,0,False
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,1,0,0,0,0,1,0,False

Убираем малозначимые признаки

In [27]:
for column in X.columns:
    for col in need_col:
        if column in need_col:
            pass
        else:
            try:
                X = X.drop([column], axis=1)
            except KeyError:
                pass

In [28]:
X.head()

,OverallQual,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,FullBath,GarageCars,is_test
0,7,706.0,856.0,856,854,1710,2,2.0,False
1,6,978.0,1262.0,1262,0,1262,2,2.0,False
2,7,486.0,920.0,920,866,1786,2,2.0,False
3,7,216.0,756.0,961,756,1717,1,3.0,False
4,8,655.0,1145.0,1145,1053,2198,2,3.0,False

In [29]:
Xtrain_prep_new = X[X.is_test==False].drop(['is_test'], axis=1)
Xtest_prep_new = X[X.is_test==True].drop(['is_test'], axis=1)

In [30]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [31]:
lr.fit(Xtrain_prep_new, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_pred_lr=lr.predict(Xtest_prep_new)

In [33]:
y_pred_lr

array([108476.87017465, 171505.99948822, 169197.12643466, ...,
       164318.21122738,  92863.78912068, 250959.54290216])

In [34]:
r2_score(y_train, lr.predict(Xtrain_prep_new))

0.7740383904801591

In [35]:
from sklearn import neighbors

In [36]:
n_neighbors = 5
knn = neighbors.KNeighborsRegressor( n_neighbors)

In [37]:
knn.fit(Xtrain_prep_new , y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [38]:
y_pred_knn=knn.predict(Xtest_prep_new)
y_pred_knn

array([119100. , 201591.2, 198100. , ..., 164011.8, 119750. , 242500. ])

In [39]:
r2_score(y_train, knn.predict(Xtrain_prep_new))

0.7933070349968465

In [40]:
y_pred_knn

array([119100. , 201591.2, 198100. , ..., 164011.8, 119750. , 242500. ])

In [41]:
from sklearn.metrics import explained_variance_score as EVS

Стекинг

In [42]:
def get_meta_features(clf, X_train, y_train, X_test, stack_cv):
    meta_train = np.zeros_like(y_train, dtype=float)
    meta_test = np.zeros_like(X_test['OverallQual'], dtype=float)
    
    for i, (train_ind, test_ind) in enumerate(stack_cv.split(X_train, y_train)):
        clf.fit(X_train.iloc[train_ind], y_train.iloc[train_ind])
        meta_train[test_ind] = clf.predict(X_train.iloc[test_ind])
        meta_test += clf.predict(X_test)
    print('EVS: '+str(EVS(y_train, clf.predict(X_train)))+'\n')
    return meta_train, meta_test / stack_cv.n_splits

In [43]:
from sklearn.model_selection import StratifiedKFold

stack_cv = StratifiedKFold(n_splits=10, random_state=555)

meta_train = []
meta_test = []
col_names = []

print('LR features...')
meta_tr, meta_te = get_meta_features(lr, Xtrain_prep_new, y_train, Xtest_prep_new, stack_cv)

meta_train.append(meta_tr)
meta_test.append(meta_te)
col_names.append('lr_pred')

print('RF features...')
meta_tr, meta_te = get_meta_features(clf_rf, Xtrain_prep_new, y_train, Xtest_prep_new, stack_cv)

meta_train.append(meta_tr)
meta_test.append(meta_te)
col_names.append('rf_pred')

print('kNN features...')
meta_tr, meta_te = get_meta_features(knn, Xtrain_prep_new, y_train, Xtest_prep_new, stack_cv)

meta_train.append(meta_tr)
meta_test.append(meta_te)
col_names.append('knn_pred')

LR features...

F:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

EVS: 0.774036931023295

RF features...

F:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

EVS: 0.8395840499601337

kNN features...

F:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

EVS: 0.7926834230325606

In [44]:
X_meta_train = pd.DataFrame(np.stack(meta_train, axis=1), columns=col_names)
X_meta_test = pd.DataFrame(np.stack(meta_test, axis=1), columns=col_names)

In [45]:
X_meta_train.head()

         lr_pred        rf_pred  knn_pred
0  204297.034050  192201.697515  206780.0
1  181990.648975  173102.707562  186700.0
2  203644.505735  195510.761610  189980.0
3  200640.823779  171036.455465  178780.0
4  252445.397030  261454.377122  222300.0

Обучаем метаданные на KNN регрессии

In [46]:
n_neighbors = 3
knn = neighbors.KNeighborsRegressor( n_neighbors)
knn.fit(X_meta_train , y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [47]:
y_pred_meta_test = knn.predict(X_meta_train)

y_pred_meta_test

array([198133.33333333, 185166.66666667, 210625.        , ...,
       206966.66666667, 125201.66666667, 152100.        ])

In [48]:
EVS(y_train, knn.predict(X_meta_train))

0.8887656181837588