 Домашнее задание №1

In [126]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [127]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [128]:
data.shape

(48842, 15)

In [129]:
X = data[['age', 'workclass', 'education','educational-num', 'occupation', 'gender', 'native-country']]
y = data['income']

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [131]:
X.head()

,age,workclass,education,educational-num,occupation,gender,native-country
0,25,Private,11th,7,Machine-op-inspct,Male,United-States
1,38,Private,HS-grad,9,Farming-fishing,Male,United-States
2,28,Local-gov,Assoc-acdm,12,Protective-serv,Male,United-States
3,44,Private,Some-college,10,Machine-op-inspct,Male,United-States
4,18,?,Some-college,10,?,Female,United-States

In [132]:
X = pd.get_dummies(X, columns = ['education', 'workclass', 'occupation', 'gender', 'native-country'])

In [133]:
X.head()

,age,educational-num,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,7,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,44,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,18,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [134]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [135]:
from sklearn.linear_model import LogisticRegression

In [136]:
le.fit(data['income'])

LabelEncoder()

In [137]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [138]:
y = pd.Series(data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [144]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [177]:
model = LogisticRegression()

In [178]:
model.fit(X_train, y_train)
preditation = model.predict_proba(X)

F:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [179]:
# for t in zip( preditation[:,1], y ):
#     print(t)

In [180]:
model.score(X, y)

0.8085459235903526