In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook

links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [5]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [9]:
#Задаем жанры по которым будем делать топ

In [10]:
genre=['Comedy','Action']

In [11]:
#объединяем  movies и ratings

In [12]:
movies_join_ratings=movies.join(ratings.set_index('movieId'), on='movieId')

In [13]:
movies_join_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [14]:
#объединяем  movies_join_ratings и tags

In [15]:
movies_join_ratings_join_tags=movies_join_ratings.join(tags.set_index('movieId'), on='movieId', lsuffix='_left', rsuffix='_right')

In [16]:
movies_join_ratings_join_tags.head()

,movieId,title,genres,userId_left,rating,timestamp_left,userId_right,tag,timestamp_right
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,964982703.0,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,964982703.0,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,964982703.0,567.0,fun,1.525286e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,847434962.0,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,847434962.0,474.0,pixar,1.137207e+09

In [17]:
movies_join_ratings_join_tags['title'].value_counts()

Pulp Fiction (1994)                                                               55567
Fight Club (1999)                                                                 11772
Star Wars: Episode IV - A New Hope (1977)                                          6526
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)                     4655
2001: A Space Odyssey (1968)                                                       4469
Eternal Sunshine of the Spotless Mind (2004)                                       4454
Inception (2010)                                                                   3718
Big Lebowski, The (1998)                                                           3392
Donnie Darko (2001)                                                                3161
Forrest Gump (1994)                                                                2961
Braveheart (1995)                                                                  2370
Star Wars: Episode V - The Empire Strikes Back (1980)                              2110
Memento (2000)                                                                     2067
Lord of the Rings: The Return of the King, The (2003)                              1850
Terminator 2: Judgment Day (1991)                                                  1792
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                          1770
Avatar (2009)                                                                      1746
Silence of the Lambs, The (1991)                                                   1674
Blade Runner (1982)                                                                1612
Sixth Sense, The (1999)                                                            1611
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)     1600
Schindler's List (1993)                                                            1540
Reservoir Dogs (1992)                                                              1441
Matrix, The (1999)                                                                 1390
Lord of the Rings: The Fellowship of the Ring, The (2001)                          1386
Up (2009)                                                                          1365
Gladiator (2000)                                                                   1360
Shawshank Redemption, The (1994)                                                   1268
Usual Suspects, The (1995)                                                         1224
Aliens (1986)                                                                      1134
                                                                                  ...
Frozen River (2008)                                                                   1
Adam and Eve (National Lampoon's Adam & Eve) (2005)                                   1
U.S. vs. John Lennon, The (2006)                                                      1
Court Jester, The (1956)                                                              1
Flying Down to Rio (1933)                                                             1
Beijing Bicycle (Shiqi sui de dan che) (2001)                                         1
Maniac (2012)                                                                         1
2048: Nowhere to Run (2017)                                                           1
Good Thief, The (2002)                                                                1
Little Caesar (1931)                                                                  1
Devil Dog: The Hound of Hell (1978)                                                   1
Songs From the Second Floor (Sånger från andra våningen) (2000)                       1
St. Trinian's (2007)                                                                  1
The Forbidden Dance (1990)                                                            1
Man with the Golden Arm, The (1955)                                                   1
Broken Hearts Club, The (2000)                                                        1
Wrong (2012)                                                                          1
Geostorm (2017)                                                                       1
I Love You, Beth Cooper (2009)                                                        1
Raven, The (2012)                                                                     1
Strange Circus (Kimyô na sâkasu) (2005)                                               1
Woman in Love (Rubbeldiekatz) (2011)                                                  1
Smiley's People (1982)                                                                1
Howl (2010)                                                                           1
Watch Out for the Automobile (Beregis avtomobilya) (1966)                             1
Blood Feast (1963)                                                                    1
Love, Simon (2018)                                                                    1
Bella (2006)                                                                          1
Requiem (2006)                                                                        1
Wrinkles (Arrugas) (2011)                                                             1
Name: title, Length: 9737, dtype: int64

In [18]:
movies_join_ratings_join_tags.shape

(285783, 9)

In [19]:
ratings_sum=movies_join_ratings_join_tags.groupby('title')[['rating']].sum()

In [20]:
ratings_sum.head()

                                         rating
title
'71 (2014)                                  4.0
'Hellboy': The Seeds of Creation (2004)     4.0
'Round Midnight (1986)                      7.0
'Salem's Lot (2004)                         5.0
'Til There Was You (1997)                   8.0

In [21]:
# Групперуем

In [22]:
genres=movies_join_ratings_join_tags.groupby('title')[['genres']].sum()

In [23]:
genres.head()

                                                                              genres
title
'71 (2014)                                                 Action|Drama|Thriller|War
'Hellboy': The Seeds of Creation (2004)  Action|Adventure|Comedy|Documentary|Fantasy
'Round Midnight (1986)                                    Drama|MusicalDrama|Musical
'Salem's Lot (2004)                                    Drama|Horror|Mystery|Thriller
'Til There Was You (1997)                                 Drama|RomanceDrama|Romance

In [24]:
genres.shape

(9737, 1)

In [25]:
ratings_sum.shape

(9737, 1)

In [26]:
#Добовляем жанры

In [27]:
films=ratings_sum.join(genres)

In [28]:
films.head()

,rating,genres
title,,
'71 (2014),4.0,Action|Drama|Thriller|War
'Hellboy': The Seeds of Creation (2004),4.0,Action|Adventure|Comedy|Documentary|Fantasy
'Round Midnight (1986),7.0,Drama|MusicalDrama|Musical
'Salem's Lot (2004),5.0,Drama|Horror|Mystery|Thriller
'Til There Was You (1997),8.0,Drama|RomanceDrama|Romance

In [29]:
# Записываем в новый датаферейм строки где в жанрах встречаеся Comedy

In [30]:
df_comedy=films[films['genres'].str.contains(genre[0])]

In [31]:
# Записываем в новый датаферейм строки где в жанрах встречаеся Action

In [32]:
df_action=films[films['genres'].str.contains(genre[1])]

In [33]:
df_comedy.shape

(3755, 2)

In [34]:
df_action.shape

(1827, 2)

In [35]:
#сортируем по рейтенгу

In [36]:
df_comedy.sort_values('rating', ascending=False).head(10)

,rating,genres
title,,
Pulp Fiction (1994),233218.5,Comedy|Crime|Drama|ThrillerComedy|Crime|Drama|...
"Big Lebowski, The (1998)",13312.0,Comedy|CrimeComedy|CrimeComedy|CrimeComedy|Cri...
Forrest Gump (1994),12330.0,Comedy|Drama|Romance|WarComedy|Drama|Romance|W...
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964),4140.0,Comedy|WarComedy|WarComedy|WarComedy|WarComedy...
Fargo (1996),3725.0,Comedy|Crime|Drama|ThrillerComedy|Crime|Drama|...
Toy Story 2 (1999),2996.0,Adventure|Animation|Children|Comedy|FantasyAdv...
Life Is Beautiful (La Vita è bella) (1997),2920.0,Comedy|Drama|Romance|WarComedy|Drama|Romance|W...
American Pie (1999),2784.0,Comedy|RomanceComedy|RomanceComedy|RomanceCome...
Toy Story (1995),2529.0,Adventure|Animation|Children|Comedy|FantasyAdv...
Clerks (1994),2406.0,ComedyComedyComedyComedyComedyComedyComedyCome...

In [37]:
df_action.sort_values('rating', ascending=False).head(10)

,rating,genres
title,,
Fight Club (1999),50301.0,Action|Crime|Drama|ThrillerAction|Crime|Drama|...
Star Wars: Episode IV - A New Hope (1977),27612.0,Action|Adventure|Sci-FiAction|Adventure|Sci-Fi...
Léon: The Professional (a.k.a. The Professional) (Léon) (1994),18707.5,Action|Crime|Drama|ThrillerAction|Crime|Drama|...
Inception (2010),15119.0,Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMA...
Braveheart (1995),9555.0,Action|Drama|WarAction|Drama|WarAction|Drama|W...
Star Wars: Episode V - The Empire Strikes Back (1980),8895.0,Action|Adventure|Sci-FiAction|Adventure|Sci-Fi...
"Lord of the Rings: The Return of the King, The (2003)",7620.0,Action|Adventure|Drama|FantasyAction|Adventure...
Terminator 2: Judgment Day (1991),7116.0,Action|Sci-FiAction|Sci-FiAction|Sci-FiAction|...
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981),6732.0,Action|AdventureAction|AdventureAction|Adventu...
Blade Runner (1982),6610.5,Action|Sci-Fi|ThrillerAction|Sci-Fi|ThrillerAc...